.logo{
	height: 56px;
}

#pic{
	max-width: 100%;
  	max-height: 100%;
	
	height: 500px;
	width: 1255px;
	position: relative;
}
.brand-logo{
	margin-left: 30px;

}
.caption{

	float: top;
	text-align: center;
}
.buttonPosition {
top: 30px;

}
.size {
	height: 170px;
	padding-top: 20px;
	padding-left: 60px;
	max-width: 80%;
	max-height: 80%;

}
.vietnam{
	height: 170px;
	width: 300px;
	padding-top: 20px;
	padding-left: 60px;
}
h5{
	position: middle;
	padding-left: 90px;
}
#HalongBay{
		padding-left: 70px;

}
.buttons{
	margin-left: 100px;
}

.Misha{
	height: 194px;
	max-width: 100%;
	max-height: 100%;

}

.lineSpacing{
	font-size: 15px;
	line-height: 41px;
}
h3{
	text-align: center;
}
.piechartSize{
	height: 200px;
	
}
.chartSize{
	height:200px;
	max-height: 100%
	max-width:100%;
}
.bookSize{
	height: 160px;
	padding-top: 20px;
	max-width: 100%;
	max-height: 100%;
}
.pEPL{
	line-height: 25px;
	font-size: 12px;
}
#uk{
font-size: 14px;
color: red;
}
#greece{
	font-size: 14px;
	color:orange;
}
#denmark{
font-size: 14px;
color: #e57373;
}
.me{
	height: 300px;
	width: 400px;
	max-height: 100%;
	max-width: 100%;
	padding-top:20px;
}
body{
	margin:0px;
}
.page-footer{
	float: right;
	height: 400px;
	width: 400px;
	max-height: 100%;
	max-width: 100%;
}
.aboutUs{
	line-height: 20px;
}
.csssizing{
	max-width: 100%;
	max-height: 100%;
}
.sept {
	width: 100%;
	height: 100%;
}
.ast {
width: 100%;
height: 100%;
}
.virsus {height: 100%; width:100%; margin-top:20px; margin-left:20px;}

